/* .info-options-box {
  
}

.info-text {
  font-size: 20px;
  color: white;
  text-align: justify;
}
*/

.info-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
  margin-bottom: 15px;
}

.info-back-button {
  font-size: 20px;
  padding: 5px;
  border: 1px solid #ff00ff;
  cursor: pointer;
  margin-bottom: 15px;
}

.info-plant-box {
  display: flex;
  flex-direction: row;
  border: 1px solid #ff00ff;
  width: 540px;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  margin-bottom: 25px;
}

.info-box-imagem {
  border: 1px solid #ff00ff;
  width: 30%;
  height: 80%;
  margin-right: 25px;
  
}

.info-box-imagem p {
  color: white;
}

.info-box-text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.info-box-text p {
  color: white;
}