# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/TCC.Front/node_modules
/TCC.Front/.pnp
.pnp.js

# testing
/TCC.Front/coverage

# production
/TCC.Front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
