/*Configuração padrão de CSS*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section, div, a {
  display: flex;
}

p {
  /* font-family: Antic Didone; */
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

a, .link {
  cursor: pointer;
  text-decoration: none;
}

.align {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white-color {
  color: #ffffff
}

.red-color {
  color: #ff0000
}

.text-center {
  text-align: center;
}

.visible {
  display: flex
}

.not-visible {
  display: none;
}

.grayscale {
  filter: grayscale(100%);
}

.main-screen {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  top: 100px;
  position: absolute;
}