.options-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff00ff;
  height: 50%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.options-box div {
  cursor: pointer;
}