.player-board-extern {
  height: 46%;
  width: 30%;
  border: 2px solid #ff00ff;
  margin: 15px 15px 0px 15px;
}

.player-board-name {
  text-align: center;
  margin: 15px;
  font-size: 30px;
}

.player-board-intern {
  width: auto;
  height: 100%;
  border: 0.5px solid #ff00ff;
  margin: 0px 15px 15px 15px;
}

.player-board-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-board-grid-cell {
  max-width: 100%;
  min-height: 50%;
  border: 0.5px solid #ff00ff;
}

.player-board-top-left {
  position: fixed;
  left: 3%;
}

.player-board-top-right {
  position: fixed;
  right: 3%;
}

.player-board-center {
  position: fixed;
  bottom: 2%;
  left: 34%;
}

.player-board-bottom-left-only-2-bottom {
  position: fixed;
  bottom: 2%;
  left: 12%
}

.player-board-bottom-right-only-2-bottom {
  position: fixed;
  bottom: 2%;
  right: 12%
}

.player-board-bottom-left {
  position: fixed;
  bottom: 2%;
  left: 2%
}

.player-board-bottom-right {
  position: fixed;
  bottom: 2%;
  right: 2%
}