.about-image-space {
  width: 50%;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% center;
  transform: scaleX(-1);
}

.about-text-space {
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../imgs/layout/texture-page.png');
  background-size: cover;
  background-attachment: fixed;
}

.about-title {
  margin-top: 40px;
  margin-bottom: 50px;
}

.about-title-box {
  position: relative;
}

.about-title-logo, .about-title-logo-2, .about-title-logo-3 {
  font-family: 'Zoika';
  font-size: 100px;
}

.about-title-logo-2 {
  font-family: 'Gotham-Light';
  font-size: 27px;
}

.about-title-logo-3 {
  font-family: 'Gotham-Book';
  font-size: 27px;
}

.plant-logo {
  height: 120px;
  position: absolute;
  right: -55px;
}

.about-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.about-info-text-space {
  flex-direction: column;
  align-items: center;
}

.about-info-title {
  font-size: 60px;
  font-family: 'Gotham-Black';
  margin-bottom: 50px;
}

.about-info-text {
  font-family: 'Gotham-Medium';
  text-align: justify;
}

.about-info-footer {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.about-info-footer-text-space {
  align-items: flex-end;
  margin-bottom: 10px;
}

.about-info-footer-text {
  font-family: 'Gotham-Black';
}

.about-info-footer-text-course-name {
  font-family: 'Gotham-Book';
}

.about-info-footer-back {
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  align-self: flex-end;
}

.about-info-footer-pet-logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.about-info-footer-rural-logo {
  width: 200px;
  height: 80px;
}